body,
html {
  height: 100%;
}

body {
	background-color: white
}

.container-fluid {
	margin-left: 50px;
	margin-right: 50px;
}

#title-area {
	background-color: rgb(226, 140, 11);
}

#title {
	margin-bottom: 16px;
}

.chart-area {
	margin-top: 215px;
}

#top-bar {
	margin-left: 50px;
	margin-right: 50px;
	border: 1px solid gray;
}

#country-metadata {
	margin-top: 36px;
}

#selYear {
	display: block;
	width: 105px;
	background-color:rgb(226, 140, 11);
}

#selCountry {
	display: block;
	width: 105px;
	background-color:rgb(226, 140, 11);
}

.world-info {
	font-weight: bold;
	margin-left: 15px;
	margin-right: 5px;
}

footer {
	background-color: rgb(226, 140, 11);
}

/*footer .row {
	padding-top: 10px;
}*/

div.row {
	margin-bottom: 40px;
}

.chart-area1 {
	margin-top: 100px;
	height: 500px;
} 

#map-area {
	height: 100%;
}

#map {
	height: 550px;
}

#population-map {
	text-align: center;
}


#red {
	color: red;
}

#orange {
	color: orange;
}

#pink {
	color: pink;
}

#purple {
	color: purple;
}

#green {
	color: green;
}

#lightgreen {
	color: lightgreen;
}

#blue {
	color: blue;
}

