body,
html {
  height: 500px;
}


#top-bar {
	border: 1px solid gray;
}

#country {
/*	margin-bottom: 20px;*/
	border: 1px solid red;
}

#country-metadata {
	margin-top: 35px;
	border: 1px solid green;
}

#selCountry {
	display: block;
	width: 105px;
}

.world-info {
	font-weight: bold;
	margin-left: 15px;
	margin-right: 5px;
}

div.row {
	margin-top: 30px;
	border: 1px solid red;
}

#map-area {
	padding-right: 0;
	padding-left: 0;
	border: 1px solid blue;
}

#map {
	height: 500px;
}

