body,
html {
  height: 500px;
}

/*.well {
	width: 150px;
	padding-bottom: 30px;
}*/

#panel-area {
	padding-left: 0;
	padding-right: 0;
}

#country {
	margin-bottom: 20px;
}

#selCountry {
	display: block;
	width: 105px;
}

#country-info {
	width: 150px;
}

.bold {
	font-weight: bold;
}

div.row {
	margin-top: 30px;
	border: 1px solid red;
}

#map-area {
	padding-right: 0;
	padding-left: 0;
	border: 1px solid blue;
}

#map {
	height: 500px;
}
